@model SerwisOgloszeniowy.Models.Advert


@{
    ViewBag.Title =this.Model.Title;
}


<style>
    .details {
        margin-top: 50px;
    }
    .carousel-control{
        width: 50px;
            
    }
    .carousel-img {
        margin-left: auto;
        margin-right: auto;
    }
    #myCarousel{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

</style>

    <div class="details">
        <h4>@Html.DisplayFor(model => model.Title)</h4>
        <hr />


            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                @for (int i = 0; i < Model.ImagePaths.Count; i++)
                {
                   if (i == 0)
                    {
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    }
                    else
                    {

                        <li data-target="#myCarousel" data-slide-to="@i"></li>
                    }
                }
                </ol>
            <div class="carousel-inner" role="listbox"> 
                @foreach (var item in Model.ImagePaths)
                {
                    if (item.Id == Model.ImagePaths.First().Id)
                    {
                        <div class="item active">
                            <img class="carousel-img" src="/Adverts/Download/?p=@(item.Id + item.Extension)&d=@item.FileName">
                        </div>
                    }
                    else
                    {
                        <div class="item">
                            <img class="carousel-img" src="/Adverts/Download/?p=@(item.Id + item.Extension)&d=@item.FileName">
                        </div>
                    }


                }

                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        <dl>
            <dt>
                Wystawiający:
            </dt>

            <dd>
                @ViewBag.Advertiser
            </dd>

            <dt>
                Opis:
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
   
    

            
        </dl>
    </div>
    <p>
        @if ((User.IsInRole("User") && ViewBag.CurrentID == Model.UserID) || User.IsInRole("Admin"))
        {
            @Html.ActionLink("Edytuj", "Edit", new { id = Model.Id })
            
        }
            
        @Html.ActionLink("Powrót", "Index")
    </p>
